@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(0, 255, 229);
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  transform: translate(0px, -60px);
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  text-align: center;
}

.card {
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  width: 400px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  transform: translate(2px, 22px);
  box-shadow: 1px 10px 28px -7px rgba(104,201,230,0.62);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsla(183, 48%, 85%, 0.671);
}

.button {
  background-color: hsl(245, 75%, 50%);
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  border: white;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 5px 25px -5px rgb(97 94 94);
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translate(-1px, -20px);
  transition-duration: 0.3s;
  
}

.button:hover {
  background-color: hsl(245, 76%, 65%);
}

.btn-cancel {
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  transform: translate(-1px, -20px)
}

.btn-cancel:hover {
  color: rgb(38, 12, 82);
  text-decoration: none;
}

p {
  color: hsl(224, 23%, 55%);
  font-size: 18px;
  transform: translate(0px, -60px);
}

.desc {
  transform: translate(0px, -60px);
}

h2 {
  transform: translate(0px, -50px);
  font-weight: 800;
}

.box {
  background-color: var(--very-pale-blue);
  border-radius: 0.75rem;
  width: 360px;
  margin-left: 45px;
  height: 90px;
  transform: translate(-23px, -50px);
}

.box-two {
  background-color: transparent;
  transform: translate(275px, -110px);
  width: 20%;
}

.change {
  color: rgb(67, 67, 255);
}
 
.change:hover {
  color: rgb(38, 12, 82);
  text-decoration: none;
}

svg {
  transform: translate(-130px, 20px);
}

h3 {
  transform: translate(-40px, -45px);
  font-size: medium;
}

.year {
  transform: translate(-40px, -60px);
  font-size: medium;
}